h1{
    position: absolute;
    top: 64px;
    left: 240px;
}
.h-04{
    position: absolute;
    top: 160px;
    left: 240px;
}
.h-14{
    position: absolute;
    top: 430px;
    left: 240px;
}
.d-1{
   background-color: red;
    width: 475px;
    height: 198px;
    position: absolute;
    top: 230px;
    left: 240px;
}
.in{
    width: 465px;
    height: 56px;
}
.d-2{
    position: absolute;
    left: 240px;
    top: 497px;
}